.contact3-contact20 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.contact3-max-width {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact3-section-title {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact3-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact3-row {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.contact3-content2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact3-contact-info1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact3-content3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
}
 
.contact3-text10 {
  align-self: stretch;
  text-align: center;
}
 
.contact3-text11 {
  text-align: center;
}
 
.contact3-email {
  text-align: center;
}
 
.contact3-content4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact3-contact-info2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact3-content5 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
}
 
.contact3-text12 {
  align-self: stretch;
  text-align: center;
}
 
.contact3-text13 {
  text-align: center;
}
 
.contact3-phone {
  text-align: center;
}
 
.contact3-content6 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact3-contact-info3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact3-content7 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
}
 
.contact3-text14 {
  align-self: stretch;
  text-align: center;
}
 
.contact3-text15 {
  text-align: center;
}
 
.contact3-address {
  text-align: center;
}
 
.contact3-fragment1 {
  display: contents;
}
 
.contact3-text16 {
  display: inline-block;
}
 
.contact3-fragment2 {
  display: contents;
}
 
.contact3-text17 {
  display: inline-block;
}
 
.contact3-fragment3 {
  display: contents;
}
 
.contact3-text18 {
  display: inline-block;
}
 
.contact3-fragment4 {
  display: contents;
}
 
.contact3-text19 {
  display: inline-block;
}
 
.contact3-fragment5 {
  display: contents;
}
 
.contact3-text20 {
  display: inline-block;
}
 
.contact3-fragment6 {
  display: contents;
}
 
.contact3-text21 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .contact3-row {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .contact3-row {
    align-items: stretch;
  }
}
