.contact14-contact20 {
  gap: var(--dl-layout-space-threeunits);
  height: 124px;
  display: flex;
  overflow: hidden;
  position: relative;
  padding-top: 0px;
  flex-direction: column;
}
 
.contact14-max-width {
  gap: var(--dl-layout-space-threeunits);
  height: 103px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contact14-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact14-contact-info1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-email1 {
  text-align: center;
  text-decoration: none;
}
 
.contact14-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
 
.contact14-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
 
.contact14-content2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact14-contact-info2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-icon3 {
  width: var(--dl-layout-size-xsmall);
  min-width: var(--dl-layout-size-small);
  align-self: center;
}
 
.contact14-email2 {
  text-align: center;
  text-decoration: none;
}
 
.contact14-content3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact14-contact-info3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-phone {
  text-align: center;
  text-decoration: none;
}
 
.contact14-content4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact14-contact-info4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  height: 106px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-icon7 {
  align-self: center;
}
 
.contact14-address {
  text-align: center;
}
 
.contact14-fragment1 {
  display: contents;
}
 
.contact14-text1 {
  display: inline-block;
}
 
.contact14-fragment2 {
  display: contents;
}
 
.contact14-text2 {
  display: inline-block;
}
 
.contact14-fragment3 {
  display: contents;
}
 
.contact14-text3 {
  display: inline-block;
}
 
.contact14-fragment4 {
  display: contents;
}
 
.contact14-text4 {
  display: inline-block;
}
 
.contact14root-class-name {
  align-self: center;
}
 
@media(max-width: 767px) {
  .contact14-max-width {
    flex-direction: column;
  }
  .contact14root-class-name {
    align-self: center;
  }
}
