.features2-layout302 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features2-max-width {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.features2-section-title {
  align-items: flex-start;
}
 
.features2-content1 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features2-feature11 {
  width: 490px;
  height: 308px;
  align-items: center;
}
 
.features2-image1 {
  align-self: center;
}
 
.features2-content2 {
  width: 483px;
  height: 232px;
}
 
.features2-title11 {
  width: 551px;
  height: 48px;
  align-self: center;
  text-align: center;
}
 
.features2-container10 {
  flex: 0 0 auto;
  width: auto;
  height: 33px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.features2-container11 {
  flex: 0 0 auto;
  width: auto;
  height: 33px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.features2-button10 {
  width: 94px;
  height: 33px;
  align-self: flex-start;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
}
 
.features2-button11 {
  width: 94px;
  height: 33px;
  align-self: flex-start;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
}
 
.features2-button12 {
  width: 94px;
  height: 33px;
  align-self: flex-start;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
}
 
.features2-container12 {
  flex: 0 0 auto;
  width: auto;
  height: 33px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.features2-button13 {
  width: 94px;
  height: 33px;
  align-self: flex-start;
}
 
.features2-button14 {
  width: 130px;
  height: 38px;
  align-self: flex-start;
}
 
.features2-button15 {
  width: 67px;
  height: 100%;
  align-self: flex-start;
}
 
.features2-feature12 {
  width: 490px;
  height: 313px;
  align-items: center;
}
 
.features2-image2 {
  align-self: center;
}
 
.features2-content3 {
  width: 100%;
  height: 198px;
}
 
.features2-title12 {
  width: 551px;
  height: 48px;
  align-self: center;
  text-align: center;
}
 
.features2-container13 {
  flex: 0 0 auto;
  width: auto;
  height: 33px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.features2-container14 {
  flex: 0 0 auto;
  width: auto;
  height: 33px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.features2-button16 {
  width: 94px;
  height: 33px;
  align-self: flex-start;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
}
 
.features2-button17 {
  width: 94px;
  height: 33px;
  align-self: flex-start;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
}
 
.features2-button18 {
  width: 94px;
  height: 33px;
  align-self: flex-start;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
}
 
.features2-container15 {
  flex: 0 0 auto;
  width: auto;
  height: 33px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.features2-button19 {
  width: 94px;
  height: 33px;
  align-self: flex-start;
}
 
.features2-button20 {
  width: 165px;
  height: 39px;
  align-self: flex-start;
}
 
.features2-button21 {
  width: 101px;
  height: 36px;
  align-self: flex-start;
}
 
.features2-actions {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
 
.features2-container16 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.features2-feature13 {
  width: 544px;
  height: 318px;
  align-self: flex-start;
  align-items: center;
}
 
.features2-image3 {
  align-self: center;
}
 
.features2-content4 {
  height: 199px;
}
 
.features2-title13 {
  width: 551px;
  height: 48px;
  align-self: center;
  text-align: center;
}
 
.features2-container17 {
  flex: 0 0 auto;
  width: auto;
  height: 33px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.features2-container18 {
  flex: 0 0 auto;
  width: auto;
  height: 33px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.features2-button22 {
  width: 94px;
  height: 33px;
  align-self: flex-start;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
}
 
.features2-button23 {
  width: 94px;
  height: 33px;
  align-self: flex-start;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
}
 
.features2-container19 {
  flex: 0 0 auto;
  width: auto;
  height: 33px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.features2-button24 {
  width: 129px;
  height: 39px;
  align-self: flex-start;
}
 
.features2-button25 {
  width: 195px;
  height: 42px;
  align-self: flex-start;
}
 
.features2-feature14 {
  width: 488px;
  align-items: center;
}
 
.features2-image4 {
  align-self: center;
}
 
.features2-content5 {
  height: 205px;
}
 
.features2-title14 {
  width: 551px;
  height: 48px;
  align-self: center;
  text-align: center;
}
 
.features2-container20 {
  flex: 0 0 auto;
  width: auto;
  height: 33px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.features2-container21 {
  flex: 0 0 auto;
  width: auto;
  height: 33px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.features2-button26 {
  width: 189px;
  height: 43px;
  align-self: flex-start;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
}
 
.features2-button27 {
  width: 160px;
  height: 36px;
  align-self: flex-start;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
}
 
.features2-container22 {
  flex: 0 0 auto;
  width: auto;
  height: 33px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.features2-button28 {
  width: 241px;
  height: 39px;
  align-self: flex-start;
}
 
.features2-button29 {
  width: 50%;
  height: 39px;
  align-self: flex-start;
}
 
.features2-container23 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.features2-feature15 {
  width: 488px;
  align-items: center;
}
 
.features2-image5 {
  align-self: center;
}
 
.features2-content6 {
  height: 193px;
}
 
.features2-title15 {
  width: 551px;
  height: 48px;
  align-self: center;
  text-align: center;
}
 
.features2-container24 {
  flex: 0 0 auto;
  width: auto;
  height: 33px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.features2-container25 {
  flex: 0 0 auto;
  width: auto;
  height: 33px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.features2-button30 {
  width: 173px;
  height: 100%;
  align-self: flex-start;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
}
 
.features2-button31 {
  width: 206px;
  height: 45px;
  align-self: flex-start;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
}
 
.features2-container26 {
  flex: 0 0 auto;
  width: auto;
  height: 33px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.features2-button32 {
  width: 214px;
  height: 100%;
  align-self: flex-start;
}
 
.features2-button33 {
  width: 204px;
  height: 42px;
  align-self: flex-start;
}
 
.features2-fragment10 {
  display: contents;
}
 
.features2-text12 {
  display: inline-block;
}
 
.features2-fragment11 {
  display: contents;
}
 
.features2-text13 {
  display: inline-block;
}
 
.features2-fragment12 {
  display: contents;
}
 
.features2-text14 {
  display: inline-block;
}
 
.features2-fragment13 {
  display: contents;
}
 
.features2-text15 {
  display: inline-block;
}
 
.features2-fragment14 {
  display: contents;
}
 
.features2-text16 {
  display: inline-block;
}
 
.features2-fragment15 {
  display: contents;
}
 
.features2-text17 {
  display: inline-block;
}
 
.features2-fragment16 {
  display: contents;
}
 
.features2-text18 {
  display: inline-block;
}
 
.features2-fragment17 {
  display: contents;
}
 
.features2-text19 {
  display: inline-block;
}
 
.features2-fragment18 {
  display: contents;
}
 
.features2-text20 {
  display: inline-block;
}
 
.features2-fragment19 {
  display: contents;
}
 
.features2-text21 {
  display: inline-block;
}
 
.features2-fragment20 {
  display: contents;
}
 
.features2-text22 {
  display: inline-block;
}
 
.features2-fragment21 {
  display: contents;
}
 
.features2-text23 {
  display: inline-block;
}
 
.features2-fragment22 {
  display: contents;
}
 
.features2-text24 {
  display: inline-block;
}
 
.features2-fragment23 {
  display: contents;
}
 
.features2-text25 {
  display: inline-block;
}
 
.features2-fragment24 {
  display: contents;
}
 
.features2-text26 {
  display: inline-block;
}
 
.features2-fragment25 {
  display: contents;
}
 
.features2-text27 {
  display: inline-block;
}
 
.features2-fragment26 {
  display: contents;
}
 
.features2-text28 {
  display: inline-block;
}
 
.features2-fragment27 {
  display: contents;
}
 
.features2-text29 {
  display: inline-block;
}
 
.features2-fragment28 {
  display: contents;
}
 
.features2-text30 {
  display: inline-block;
}
 
.features2-fragment29 {
  display: contents;
}
 
.features2-text31 {
  display: inline-block;
}
 
.features2-fragment30 {
  display: contents;
}
 
.features2-text32 {
  display: inline-block;
}
 
.features2-fragment31 {
  display: contents;
}
 
.features2-text33 {
  display: inline-block;
}
 
.features2-fragment32 {
  display: contents;
}
 
.features2-text34 {
  display: inline-block;
}
 
.features2-fragment33 {
  display: contents;
}
 
.features2-text35 {
  display: inline-block;
}
 
.features2-fragment34 {
  display: contents;
}
 
.features2-text36 {
  display: inline-block;
}
 
.features2-fragment35 {
  display: contents;
}
 
.features2-text37 {
  display: inline-block;
}
 
.features2-fragment36 {
  display: contents;
}
 
.features2-text38 {
  display: inline-block;
}
 
.features2-fragment37 {
  display: contents;
}
 
.features2-text39 {
  display: inline-block;
}
 
.features2-fragment38 {
  display: contents;
}
 
.features2-text40 {
  display: inline-block;
}
 
.features2-fragment39 {
  display: contents;
}
 
.features2-text41 {
  display: inline-block;
}
 
.features2-fragment40 {
  display: contents;
}
 
.features2-text42 {
  display: inline-block;
}
 
@media(max-width: 479px) {
  .features2-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .features2-button10 {
    width: 100%;
  }
  .features2-button11 {
    width: 100%;
  }
  .features2-button12 {
    width: 100%;
  }
  .features2-button13 {
    width: 100%;
  }
  .features2-button14 {
    width: 100%;
  }
  .features2-button15 {
    width: 100%;
  }
  .features2-button16 {
    width: 100%;
  }
  .features2-button17 {
    width: 100%;
  }
  .features2-button18 {
    width: 100%;
  }
  .features2-button19 {
    width: 100%;
  }
  .features2-button20 {
    width: 100%;
  }
  .features2-button21 {
    width: 100%;
  }
  .features2-actions {
    width: 100%;
    flex-direction: column;
  }
  .features2-button22 {
    width: 100%;
  }
  .features2-button23 {
    width: 100%;
  }
  .features2-button24 {
    width: 100%;
  }
  .features2-button25 {
    width: 100%;
  }
  .features2-button26 {
    width: 100%;
  }
  .features2-button27 {
    width: 100%;
  }
  .features2-button28 {
    width: 100%;
  }
  .features2-button29 {
    width: 100%;
  }
  .features2-button30 {
    width: 100%;
  }
  .features2-button31 {
    width: 100%;
  }
  .features2-button32 {
    width: 100%;
  }
  .features2-button33 {
    width: 100%;
  }
}
