.stats4-container1 {
  width: 918px;
  height: 137px;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: center;
}
 
.stats4-max-width {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.stats4-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  flex-wrap: wrap;
  align-items: flex-start;
}
 
.stats4-container3 {
  flex: 1;
  display: flex;
  padding: var(--dl-layout-space-twounits);
  align-items: center;
  flex-direction: column;
}
 
.stats4-text11 {
  text-align: center;
}
 
.stats4-container4 {
  flex: 1;
  display: flex;
  padding: var(--dl-layout-space-twounits);
  align-items: center;
  flex-direction: column;
}
 
.stats4-text13 {
  text-align: center;
}
 
.stats4-container5 {
  flex: 1;
  display: flex;
  padding: var(--dl-layout-space-twounits);
  align-items: center;
  flex-direction: column;
}
 
.stats4-text15 {
  text-align: center;
}
 
.stats4-container6 {
  flex: 1;
  display: flex;
  padding: var(--dl-layout-space-twounits);
  align-items: center;
  flex-direction: column;
}
 
.stats4-text17 {
  text-align: center;
}
 
.stats4-fragment1 {
  display: contents;
}
 
.stats4-text18 {
  display: inline-block;
}
 
.stats4-fragment2 {
  display: contents;
}
 
.stats4-text19 {
  display: inline-block;
}
 
.stats4-fragment3 {
  display: contents;
}
 
.stats4-text20 {
  display: inline-block;
}
 
.stats4-fragment4 {
  display: contents;
}
 
.stats4-text21 {
  display: inline-block;
}
 
.stats4-fragment5 {
  display: contents;
}
 
.stats4-text22 {
  display: inline-block;
}
 
.stats4-fragment6 {
  display: contents;
}
 
.stats4-text23 {
  display: inline-block;
}
 
.stats4-fragment7 {
  display: contents;
}
 
.stats4-text24 {
  display: inline-block;
}
 
.stats4-fragment8 {
  display: contents;
}
 
.stats4-text25 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .stats4-container2 {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
  }
  .stats4-container3 {
    align-self: flex-start;
  }
  .stats4-container4 {
    align-self: flex-start;
  }
  .stats4-container5 {
    align-self: flex-start;
  }
}
 
@media(max-width: 479px) {
  .stats4-container6 {
    align-self: flex-start;
  }
}
